# This script is for prod use to setup your
# env variables for this application.
# Rename to docker_env.env before adding your keys, and
# remember not to publish me to Git :D

MAILGUN_API_KEY="YOUR_KEY_HERE"
MAILGUN_API_USER=api
MAILGUN_API_DOMAIN="YOUR_KEY_HERE"
STRIPE_KEY_PRIVATE="YOUR_KEY_HERE"
STRIPE_KEY_PUBLIC="YOUR_KEY_HERE"
PGSQL_USER=sales
PGSQL_HOST=db
PGSQL_DATABASE=postgres
PGSQL_PASSWORD=sales
PGSQL_PORT=5432